/* Bootstrap overrides */
.pull-right {
	color: white;
}

.container-fluid {
	min-width: 0px;
}

/* Layout style definitions */
body {
	background: #111 url(/public/images/layout/bg_grid.png) top center;
}

html, body {
	overflow:hidden;
}

#layout-left {
	position: absolute;
	top: 50px;
	left: 10px;
	bottom: 50px;
	width: 270px;
	overflow: auto;
	background: #222;
	box-shadow: 0 0 5px #000000;
	border-radius: 5px;
	padding: 0 5px;
}

.pills a {
	
	border-radius: 5px;
}

#layout-left .pills a {
    line-height: 25px;
    margin: 5px 5px 5px 0;
    padding: 0 10px;
    text-shadow: none;
    color: #fff;
}

#layout-left .pills .active a {
    background-color: #111111;
}

#layout-left .pills a:hover {
    background-color: #181818;
}

#layout-center {
	position: absolute;
	top: 50px;
	left: 300px;
	right: 10px;
	bottom: 50px;
	box-shadow: 0 0 5px #000000;
	background: #222;
	border-radius: 5px;
}

#layout-bottom {
	height: 290px;
	position: fixed;
	bottom: -250px;
	left: 0px;
	right: 0px;
	padding: 0 10px;
	background: #404040;
	z-index: 10000;
	background: #222;
	border-top: solid 1px #111;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#layout-bottom .pills {
	width: 100%;
}

#layout-bottom .pills a {
    line-height: 30px;
    margin: 5px 3px 5px 0;
    padding: 0 15px;
    text-shadow: none;
    color: #fff;
}

#layout-bottom .pills a .hide-btn {

}
