<div id="modal-ajax" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>New file...</h3>
	</div>
	<div class="modal-body">

		<form>
			<fieldset>

				<!--<div class="clearfix">
					<label for="filetypeSelect">Filetype: </label>
					<div class="input">
						<select id="modalFiletypeSelect" class="xlarge"
							name="filetypeSelect">

							<option>C source file (.c)</option>
							<option>Header file (.h)</option>

						</select>
					</div>
				</div>

				<div class="clearfix">
					<label for="filepathSelect">Path: </label>
					<div class="input">
						<select id="modalFilepathSelect" class="xlarge"
							name="filepathSelect">

							<option>Project root: /</option>
							<option>/src/</option>

						</select>
					</div>
				</div>

				<hr />-->

				<div class="clearfix">
					<label for="filenameInput">Filename: </label>
					<div class="input">
						<input id="modalInputFilename" class="xlarge" type="text"
							name="filenameInput">
						<span class="help-block">The full relative path of the file, with its extension</span>
					</div>
				</div>

			</fieldset>
		</form>

	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Create</a>
	</div>
</div>