<div id="modal-ajax" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>New folder...</h3>
	</div>
	<div class="modal-body">

		<form>
			<fieldset>

				<div class="clearfix">
					<label for="filenameInput">Filename: </label>
					<div class="input">
						<input id="modalInputFilename" class="xlarge" type="text"
							name="filenameInput">
						<span class="help-block">Enter the full relative path of the folder</span>
					</div>
				</div>

			</fieldset>
		</form>

	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">Create</a>
	</div>
</div>