<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.min.js'}"></script>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        <!-- Twitter Bootstrap -->
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}"/>
        <!--  <script type="text/javascript" src="@{'/public/javascripts/bootstrap-modal.js'}"></script>-->
        
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/static.css'}"/>

        <title>${title}</title>
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
